@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;

}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #AEFE14;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100000;
    background-color: black;
    height: 10%;
    margin-top: 0%;
}

.logo {
    font-size: 3rem;
    color: #AEFE14;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.active {
    color: #AEFE14;
    border-bottom: 3px solid #AEFE14;
}

nav a {
    font-size: 2rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    font-weight: bold;
    font-family: monospace;

}

nav a:hover {
    color: #AEFE14;
    border-bottom: 3px solid #AEFE14;
}


.container {
    display: flex;
    flex-direction: column;
}

section {
    min-height: 90vh;
    width: 100vw;
    padding: 5rem 9% 5rem;
    animation: scroll-in linear;
    animation-timeline: view(600px 0px);
}

@keyframes scroll-in {
    from {
        scale: 0.5;
    }

    to {
        scale: 1;
    }
}

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
}

.home-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 50%;
    margin-top: 5rem;
}

.home .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: monospace;
    color: whitesmoke;
}

span {
    color: #AEFE14;
}

.home-content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 200;
    font-family: monospace
}

.home-content p {
    font-size: 2rem;
    font-family: monospace;
    color: rgba(245, 245, 245, 0.814);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #AEFE14;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #AEFE14;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #AEFE14;
    box-shadow: 0 0 25px #AEFE14;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #AEFE14;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #AEFE14;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #AEFE14;
    color: black;
    box-shadow: 0 0 25px #AEFE14;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: #AEFE14;
    animation: words 10s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 5%;
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor .5s infinite;
}

@keyframes cursor {
    to {
        border-bottom: 3px solid #AEFE14;
    }
}

@keyframes words {

    0%,
    30% {
        content: "Backend Developer";
    }

    31%,
    60% {
        content: "Software Developer";
    }

    61%,
    80% {
        content: "Problem solver";
    }

    81%,
    100% {
        content: "Frontend Developer";
    }

}

.line {
    border: 1px solid #ffffffa7;
    width: 60%;
    margin-left: 22%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* about me */
.about-s {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
}

.about>h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: monospace;
    color: whitesmoke;
    font-family: monospace;
    margin-bottom: 3rem;
}

.about {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.about-edu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: 40%;
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: 15px;
    box-shadow: 2px 0px 20px #ffffff0f;

}

.about-edu-clg,
.about-edu-scl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
}

.about-edu-clg>h3,
.about-edu-scl>h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.about-edu-clg>span,
.about-edu-scl>span {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}

.about-tech {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 58vh;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.about-tech>h3 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}

.tech-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    align-items: start;
    padding: 2rem;
    justify-content: center;
}

.tech-img>img {
    width: 18%;
    height: 20%;
    margin-right: 2rem;
    margin-bottom: 2rem;
    animation: float1 2s linear alternate infinite;
}

.tech-img:hover {
    transform: scale(1.02);
    transition: 1s ease-in-out;
}

@keyframes float1 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(15px);
    }

}

.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.projects>h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: monospace;
    color: whitesmoke;
    font-family: monospace;
}

.pr-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 50px;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.pr {
    width: 22vw;
    height: 40vh;
    margin: 4rem;
    border-radius: 2rem;
    transform-style: preserve-3d;
    overflow: hidden;
    position: relative;
}

.front>img {
    width: 100%;
    height: 80%;
    border-radius: 2rem;
    opacity: .7;
}

.front>span {
    font-size: 30px;
}

.front,
.back {
    position: absolute;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(58, 207, 100, 0.568);
    border-radius: 2rem;
    height: 100%;
}

.front {
    z-index: 9999;
    transition: transform .5s, opacity 0.5s;

}

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    background: black;
    opacity: 0;
    font-size: 2rem;
    padding: 1rem;
    height: 100%;
    width: 100%;
    transition: opacity 1s ease;
}

.back>a>i {
    color: greenyellow;
    font-size: 5rem;
    margin-top: 1rem;
}

.pr:hover .front {
    animation: slideout 1s ease forwards;
}

.pr:hover .back {
    opacity: 0.9;
}

@keyframes slideout {
    0% {
        transform: translateX(-50px) rotateY(0deg);
    }

    50% {
        transform: translateX(-250px) rotateY(10deg);
    }

    75% {
        transform: translateX(-400px) rotateY(30deg);
    }

    100% {
        transform: translateX(-500px) rotateY(20deg);
    }
}

/* contact styling */
.contact {
    padding: 70px;
    width: 80%;
    margin-left: 18%;
}

.contact>h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: monospace;
    color: whitesmoke;
    margin-bottom: 3rem;
}

.contact>p {
    font-size: 2rem;
    font-family: monospace;
    color: whitesmoke;
}

.contact .contact-row {
    margin: 50px;

    display: flex;
    gap: 20px;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact .contact-row .contact-left {
    position: relative;
    left: -70px;
    flex-basis: 40%;
    min-width: 40%;
    background-color: rgb(23, 22, 22);
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 40px;
    padding: 30px;
    width: 60%;

}

.contact .contact-row .contact-left .icon-box {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}

.contact .contact-row .contact-left .icon-box h4 {
    color: white;
    font-size: 25px;
}

.contact .contact-row .contact-left .icon-box i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 7px solid var(--themeColor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themeColor);
}

.contact .contact-row .contact-left .icon-box h4~p {
    color: #F7F7F7;
}

.contact .contact-row .contact-left .icon-box:hover i {
    background-color: var(--themeColor);
    color: var(--bgColor);
}

.contact .contact-row .contact-left .icon-box:hover h4 {
    font-size: 20px;
    color: var(--themeColor);
    font-weight: 600;
}

.contact .contact-row .contact-left .icon-box:hover h4~p {
    font-size: 15px;
    color: var(--textColor);
    font-weight: 500;
}

@media screen and (max-width:800px) {
    .contact .contact-row .contact-left {
        background-color: transparent;
    }
}

.map {
    width: 40%;
    height: 50%;
}

.map>iframe {
    border-radius: 10px;
    opacity: .8;
}

/* loading */

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

/*
    Set the color of the icon
  */
svg path,
svg rect {
    fill: #AEFE14;
}

/* projects style */
.div {
    animation: fade-in linear;
}

@keyframes fade-in {
    from {
        scale: .1;
    }

    to {
        scale: 1;
    }
}





/* ////////////////////////////////////////////////////////mobile styles //////////////////////////////////////////////////////////////////////////*/
@media (max-width: 800px) {

    html {
        font-size: 50%;
    }

    body {
        height: auto;
        overflow-x: hidden;
    }

    header {
        display: none;
    }

    .logo {
        font-size: 2.5rem;
    }

    nav {
        flex-direction: column;

    }

    nav a {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .container {
        padding: 2rem 5%;
    }

    section {
        padding: 3rem 5%;
    }

    .home {
        flex-direction: column;
        gap: 4rem;
    }

    .home-content {
        width: 100%;
    }

    .home .home-content h1 {
        font-size: 4rem;

    }

    .home-content h3 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .home-content p {
        font-size: 1.4rem;
    }

    .home-img img {
        width: 100vw;
        height: 40vh;
    }

    .social-icons a {
        width: 3rem;
        height: 3rem;
        margin: 2rem 1rem;
        font-size: 1.5rem;
    }

    .btn {
        padding: 1rem 2rem;
        font-size: 1.4rem;
    }

    .typing-text {
        font-size: 2.8rem;
    }

    .projects {
        margin: 5rem 2rem;
    }

    .projects>h1 {
        font-size: 2.5rem;
    }

    .pr-content {
        flex-direction: column;
        gap: 3rem;
    }

    .pr {
        width: 90%;
        height: 30vh;
        margin: 2rem auto;
    }

    .about {
        width: 100%;
    }

    .about-tech {
        width: 100%;
        margin-bottom: 4rem;
    }

    .about-edu {
        width: 100%;
    }

    .tech-img {
        width: 100%;
    }

    .contact {
        padding: 30px;

    }

    .contact .contact-row {
        flex-direction: column;
        gap: 2rem;
        margin: 0;
    }

    .contact .contact-left {
        flex-basis: 100%;
        left: 0;
        padding: 20px;
        background-color: transparent;
    }

    .map {
        width: 100%;
        height: auto;
    }

    .loader {
        width: 50%;
        margin: 1rem auto;
    }

    .div {
        animation: none;

    }
}

.loader-t {
    display: block;
    position: absolute;
}

.start-loader {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    margin-top: 3rem;
    font-size: large;
}

.loader-process {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

}

.loader-process>span {
    color: white;
    font-size: large;
    line-height: 3;
    font-family: monospace;
    font-size: large;
    visibility: hidden;
}

#start {
    color: #AEFE14;
}

@media (max-width:450px) {
    .start-loader {
        font-size: small;
    }

    .loader-process>span {
        font-size: small;
    }
}

@media(max-width:995px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #AEFE14;
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}